{% extends 'base.html' %}
{% load hq_thumbnail %}

{% block title %} Recommendation - {{recommendation.title}} {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-sm-12 p-3 d-flex flex-column">
        <div class="border border-primary rounded rounded-lg p-1">
            <iframe class="w-100" height="400" src="https://www.youtube.com/embed/{{video.video_id}}" frameborder="0"
                allowfullscreen></iframe>
        </div>
        <div class="mt-3">
            <div class="input-group input-group-outline">
                <input autocomplete="off" type="text" class="form-control flex-grow-1" id="comment" value="" placeholder="Comment Here">
            </div>
            <p id="user-comment" class="p-2">{{mreview.review | empty_review}}</p>
            <div class="d-flex justify-content-between mt-2">
                <div>
                    <button id="likeBtn"
                        class="btn {% if mreview.like %} btn-success {% else %} btn-outline-success {% endif %} me-2"><i
                            class="fas fa-thumbs-up"></i></button>
                    <button id="dislikeBtn"
                        class="btn {% if mreview.dislike %} btn-danger {% else %} btn-outline-danger {% endif %} ms-2"><i
                            class="fas fa-thumbs-down"></i></button>
                </div>

                <button id="submit_comment" class="btn btn-outline-primary">Submit</button>
            </div>
        </div>
        <div class="d-flex mt-4 flex-column p-2">
            <h5>Comments</h5>
            <hr class="py-0 my-0 border border-primary">
            {% for review in reviews %}
            <div class="rounded shadow rounded-lg p-3 mt-2 bg-light d-flex">
                <div class="flex-grow-1">
                    <h6>{{review.user.username}}</h6>
                    <p class="mb-0 pb-0">{{review.review | empty_review}}</p>
                </div>
                <div class="d-flex flex-column h-100 justify-content-center">
                    <div class="d-flex justify-content-end mb-2">
                        {% if review.like %}
                        <i class="fa fa-thumbs-up text-success text-lg"></i>
                        {% endif %}

                        {% if review.dislike %}
                        <i class="fa fa-thumbs-down text-danger text-lg"></i>
                        {% endif %}
                    </div>
                    <div class="mt-2">
                        <p>{{review.updated_at}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-6 col-sm-12 p-3 container">
        <div class="border border-primary rounded rounded-lg">
            <div class="options">
                <div class="d-flex py-2 justify-content-center">
                    <button id="bold" class="option-button btn btn-outline-secondary mx-1 format">
                        <i class="fa-solid fa-bold"></i>
                    </button>
                    <button id="italic" class="option-button btn btn-outline-secondary mx-1 format">
                        <i class="fa-solid fa-italic"></i>
                    </button>
                    <button id="underline" class="option-button btn btn-outline-secondary mx-1 format">
                        <i class="fa-solid fa-underline"></i>
                    </button>
                    <button id="strikethrough" class="option-button btn btn-outline-secondary mx-1 format">
                        <i class="fa-solid fa-strikethrough"></i>
                    </button>
                    <button id="superscript" class="option-button btn btn-outline-secondary mx-1 script">
                        <i class="fa-solid fa-superscript"></i>
                    </button>
                    <button id="subscript" class="option-button btn btn-outline-secondary mx-1 script">
                        <i class="fa-solid fa-subscript"></i>
                    </button>
                    <!-- List -->
                    <button id="insertOrderedList" class="option-button btn btn-outline-secondary mx-1">
                        <div class="fa-solid fa-list-ol"></div>
                    </button>
                    <button id="insertUnorderedList" class="option-button btn btn-outline-secondary mx-1">
                        <i class="fa-solid fa-list"></i>
                    </button>
                    <!-- Undo/Redo -->
                    <button id="undo" class="option-button btn btn-outline-secondary mx-1">
                        <i class="fa-solid fa-rotate-left"></i>
                    </button>
                    <button id="redo" class="option-button btn btn-outline-secondary mx-1">
                        <i class="fa-solid fa-rotate-right"></i>
                    </button>
                </div>

                <div class="d-flex justify-content-center">
                    <button id="createLink" class="adv-option-button btn btn-outline-secondary mx-1">
                        <i class="fa fa-link"></i>
                    </button>
                    <button id="unlink" class="option-button btn btn-outline-secondary mx-1">
                        <i class="fa fa-unlink"></i>
                    </button>
                    <button id="justifyLeft" class="option-button btn btn-outline-secondary mx-1 align">
                        <i class="fa-solid fa-align-left"></i>
                    </button>
                    <button id="justifyCenter" class="option-button btn btn-outline-secondary mx-1 align">
                        <i class="fa-solid fa-align-center"></i>
                    </button>
                    <button id="justifyRight" class="option-button btn btn-outline-secondary mx-1 align">
                        <i class="fa-solid fa-align-right"></i>
                    </button>
                    <button id="justifyFull" class="option-button btn btn-outline-secondary mx-1 align">
                        <i class="fa-solid fa-align-justify"></i>
                    </button>
                    <button id="indent" class="option-button btn btn-outline-secondary mx-1 spacing">
                        <i class="fa-solid fa-indent"></i>
                    </button>
                    <button id="outdent" class="option-button btn btn-outline-secondary mx-1 spacing">
                        <i class="fa-solid fa-outdent"></i>
                    </button>
                    <!-- Headings -->
                    <select id="formatBlock" class="adv-option-button btn btn-outline-secondary mx-1">
                        <option value=""></option>
                        <option value="H1">H1</option>
                        <option value="H2">H2</option>
                        <option value="H3">H3</option>
                        <option value="H4">H4</option>
                        <option value="H5">H5</option>
                        <option value="H6">H6</option>
                    </select>
                    <select id="fontSize" class="adv-option-button btn btn-outline-secondary mx-1"></select>
                </div>
            </div>
            <div class="border-top border-primary p-2" style="outline: 0;" id="text-input" contenteditable="true"></div>
            <form id="notes-form" method="post" class="hidden">
                {% csrf_token %}
                <textarea hidden readonly name="notes" id="notes"></textarea>
            </form>
        </div>
        <button class="btn btn-primary w-100 mt-3" id="save-notes">Save Changes</button>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById("submit_comment").addEventListener("click", (e) => {
            e.preventDefault();
            var comment = document.getElementById("comment").value;

            var data = new FormData();
            data.append("review", comment);
            data.append("sentiment", "");

            fetch("{% url 'post-review' pk=video.id %}", {
                method: "POST",
                body: data
            }).then(response => response.json())
                .then(data => {
                    document.getElementById('user-comment').innerText = data.comment;
                    document.getElementById("comment").value = ""
                });
        });

        document.getElementById('likeBtn').addEventListener('click', () => {
            var data = new FormData();
            data.append("comment", "{{mreview.comment}}");
            data.append("sentiment", "like");

            fetch("{% url 'post-review' pk=video.id %}", {
                method: "POST",
                body: data
            }).then(response => response.json())
                .then(data =>{
                    if(data.like){
                        document.getElementById('likeBtn').classList.remove("btn-outline-success");
                        document.getElementById('likeBtn').classList.add("btn-success")
                    }else{
                        document.getElementById('likeBtn').classList.add("btn-outline-success");
                        document.getElementById('likeBtn').classList.remove("btn-success")
                    }

                    if(data.dislike){
                        document.getElementById('dislikeBtn').classList.remove("btn-outline-danger");
                        document.getElementById('dislikeBtn').classList.add("btn-danger")
                    }else{
                        document.getElementById('dislikeBtn').classList.add("btn-outline-danger");
                        document.getElementById('dislikeBtn').classList.remove("btn-danger")
                    }
                });
        });

        document.getElementById('dislikeBtn').addEventListener('click', () => {
            var data = new FormData();
            data.append("comment", "{{mreview.comment}}");
            data.append("sentiment", "dislike");

            fetch("{% url 'post-review' pk=video.id %}", {
                method: "POST",
                body: data
            }).then(response => response.json())
            .then(data =>{
                    if(data.dislike){
                        document.getElementById('dislikeBtn').classList.remove("btn-outline-danger");
                        document.getElementById('dislikeBtn').classList.add("btn-danger")
                    }else{
                        document.getElementById('dislikeBtn').classList.add("btn-outline-danger");
                        document.getElementById('dislikeBtn').classList.remove("btn-danger")
                    }

                    if(data.like){
                        document.getElementById('likeBtn').classList.remove("btn-outline-success");
                        document.getElementById('likeBtn').classList.add("btn-success")
                    }else{
                        document.getElementById('likeBtn').classList.add("btn-outline-success");
                        document.getElementById('likeBtn').classList.remove("btn-success")
                    }
                });
        });

        document.getElementById('text-input').innerHTML = '{{ notes.notes | safe}}';
        document.getElementById('save-notes').addEventListener('click', (e) => {
            e.preventDefault();
            var notes = document.getElementById("text-input").innerHTML.toString().trim()
            document.getElementById("notes").value = notes;

            var submitEvent = new Event('submit', {
                bubbles: true,
                cancelable: true
            });

            document.getElementById('notes-form').dispatchEvent(submitEvent);
        });
    });

    function updateReview(data) {
        var likeBtn = document.getElementById('likeBtn');
        var dislikeBtn = document.getElementById('dislikeBtn');

    }

    let optionsButtons = document.querySelectorAll(".option-button");
    let advancedOptionButton = document.querySelectorAll(".adv-option-button");
    let fontSizeRef = document.getElementById("fontSize");
    let writingArea = document.getElementById("text-input");
    let linkButton = document.getElementById("createLink");
    let alignButtons = document.querySelectorAll(".align");
    let spacingButtons = document.querySelectorAll(".spacing");
    let formatButtons = document.querySelectorAll(".format");
    let scriptButtons = document.querySelectorAll(".script");

    //Initial Settings
    const initializer = () => {
        //function calls for highlighting buttons
        //No highlights for link, unlink,lists, undo,redo since they are one time operations
        highlighter(alignButtons, true);
        highlighter(spacingButtons, true);
        highlighter(formatButtons, false);
        highlighter(scriptButtons, true);

        //fontSize allows only till 7
        for (let i = 1; i <= 7; i++) {
            let option = document.createElement("option");
            option.value = i;
            option.innerHTML = i;
            fontSizeRef.appendChild(option);
        }

        //default size
        fontSizeRef.value = 3;
    };

    //main logic
    const modifyText = (command, defaultUi, value) => {
        //execCommand executes command on selected text
        document.execCommand(command, defaultUi, value);
    };

    //For basic operations which don't need value parameter
    optionsButtons.forEach((button) => {
        button.addEventListener("click", () => {
            modifyText(button.id, false, null);
        });
    });

    //options that require value parameter (e.g colors, fonts)
    advancedOptionButton.forEach((button) => {
        button.addEventListener("change", () => {
            modifyText(button.id, false, button.value);
        });
    });

    //link
    linkButton.addEventListener("click", () => {
        let userLink = prompt("Enter a URL");
        //if link has http then pass directly else add https
        if (/http/i.test(userLink)) {
            modifyText(linkButton.id, false, userLink);
        } else {
            userLink = "http://" + userLink;
            modifyText(linkButton.id, false, userLink);
        }
    });

    //Highlight clicked button
    const highlighter = (className, needsRemoval) => {
        className.forEach((button) => {
            button.addEventListener("click", () => {
                //needsRemoval = true means only one button should be highlight and other would be normal
                if (needsRemoval) {
                    let alreadyActive = false;

                    //If currently clicked button is already active
                    if (button.classList.contains("active")) {
                        alreadyActive = true;
                    }

                    //Remove highlight from other buttons
                    highlighterRemover(className);
                    if (!alreadyActive) {
                        //highlight clicked button
                        button.classList.add("active");
                    }
                } else {
                    //if other buttons can be highlighted
                    button.classList.toggle("active");
                }
            });
        });
    };

    const highlighterRemover = (className) => {
        className.forEach((button) => {
            button.classList.remove("active");
        });
    };

    window.onload = initializer();
</script>
{% endblock %}