{% extends 'base.html' %}
{% block title %} Connections {% endblock %}
{% block content %}

<div class="bg-white p-2 shadow rounded shadow-xl d-flex justify-content-center">
    <form class="border py-3 border-primary col-lg-4 col-md-7 col-sm -11 rounded my-5" enctype="multipart/form-data" method="post">
        <div class="px-4">
            <h4 class="text-start">Add Course</h4>
        </div>
        <hr class="text-dark border-dark border my-0 py-0" />
        <div class="px-4">
            {% csrf_token %}
            <div class="my-3">
                <label for="name" class="form-label">Course Name</label>
                <div class="input-group input-group-outline">
                    <input type="text" class="form-control" id="name" name="name" required />
                </div>
            </div>

            <div class="mb-3">
                <label for="name" class="form-label">Course Description</label>
                <div class="input-group input-group-outline">
                    <input type="text" class="form-control" id="description" name="description" required />
                </div>
            </div>

            <div class="mb-3">
                <label for="name" class="form-label">Course Interest</label>
                <div class="input-group input-group-outline">
                    <select name="interest" id="interest" class="form-select form-control">
                        <option value="">Select Interest</option>
                        {% for interest in interests %}
                        <option value="{{ interest.uid }}">{{ interest.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="mb-3">
                <label for="thumbnail" class="form-label">Course Thumbnail</label>
                <div class="input-group input-group-outline">
                    <input type="file" accept="image/*" class="form-control" id="thumbnail" name="thumbnail" required />
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary px-3">Add Course</button>
            </div>
        </div>

    </form>
</div>

{% endblock %}