{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %} Interests {% endblock %}

{% block content %}
<div class="card p-3">
    <div class="table-responsive">
        <table class="table  align-items-center mb-0 table-striped table-hover" id="interestTable">
            <thead>
                <th>Category</th>
                <th>Interest Name</th>
                <th>Interest Description</th>
                <th></th>
            </thead>
            <tbody>
                {% for interest in interests %}
                <tr>
                    <td>{{interest.category.name}}</td>
                    <td>{{interest.name}}</td>
                    <td>{{interest.description}}</td>
                    <td>
                        <div class="d-flex">
                            <a href="{% url 'dashboard-interest' pk=interest.uid %}" class="mx-2 btn btn-outline-info">Edit</a>
                            <a href="{% url 'delete-interest' pk=interest.uid %}" name="{{interest.name}}"
                                class="mx-2 btn btn-outline-danger">Delete</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="{% static 'assets/table/jquery-3.7.1.js' %}"></script>
<script src="{% static 'assets/table/dataTables.js' %}"></script>
<script src="{% static 'assets/table/dataTables.bootstrap5.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const deleteButtons = document.querySelectorAll('.btn-outline-danger');
        deleteButtons.forEach(button => {
            button.addEventListener('click', function (e) {
                e.preventDefault();

                const confirmDelete = confirm(`Are you sure you want to delete ${this.getAttribute('name')} ?`);
                if (confirmDelete) {
                    window.location.href = button.href;
                }
            });
        });

        if ($('#interestTable').DataTable()) {
            document.querySelectorAll('.form-control-sm').forEach(input => {
                input.classList.add('border');
                input.classList.add('border-primary');
                input.classList.add('px-2');
                input.classList.add('rounded');
            });

            document.querySelectorAll('.page-item').forEach(link => {
                link.classList.add('text-white');
            });
        }
    });
</script>
{% endblock %}