{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="">
    {% for feature in features %}
    <div class="d-flex {% if feature.index == 'even' %}justify-content-end{% else %}justify-content-start{% endif %}">
        <div class="p-4 col-8">
            <div class="card border {% if feature.index == 'odd' %}justify-content-end border-info{% else %}justify-content-start border-primary{% endif %}">
                <div class="card-body">                  
                    <h5 class="{% if feature.index == 'odd' %}text-info{% else %}text-primary{% endif %}">{{feature.title}}</h5>
                    <p>{{feature.description}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}