{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vite + React</title>
  <style>
    /* .ql-picker-label {
      @apply text-white
    } */
  </style>
  <script type="module" crossorigin src="{% static '/assets/index-kD6SKWaU.js' %}"></script>
  <link rel="stylesheet" crossorigin href="{% static '/assets/index-zMlQijew.css' %}">
</head>

<body
  class="text-white relative overflow-auto bg-slate-800 text-lg select-none transition-all duration-500 ease-in-out font-poppins">
  <div id="root"></div>
</body>

</html>